.signup-container {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.signup-list {
    margin-top: 12vw;
}

.signup-content {
    position: relative;
    width: 100%;
    height: 50%;
}

.background-image {
    background: url('/sign-up-img.webp') center/cover;
    width: 60%;
    height: 90vh;
}

.overlay {
    position: absolute;
    top: 6vh;
    left: 0;
    right: 0;
    height: 60%;
    background-color: rgba(38, 31, 35, 0.7);
    color: white;
    padding: 3vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-button {
    position: relative;
    top: -4vw;
    margin-left: 56vw;
    max-width: fit-content;
    padding: 1.6vw 8vw;
    font-size: 2.5rem;
    color: #261f23;
    background-color: #f5f5f5;
    border: 2px solid #261f23;
    cursor: pointer;
    font-family: 'KyivType Regular2', serif;
    text-decoration: underline 0.1vw;
    text-underline-offset: 0.3vw;
    transition: background-color 0.2s;
}

.signup-button:hover {
    background-color: rgba(245, 245, 245, 0.8);
}

.list-item {
    margin: 0 0 3vw 2vw;
    font-family: 'Bitter', serif;
    font-size: 2vw;
}

@media (max-width: 768px) {
    .signup-container {
        margin-right: 0;
        margin-top: 1vh;
    }

    .signup-content {
        height: auto;
    }

    .background-image {
        width: 100%;
        height: 80vh;
    }

    .overlay {
        position: relative;
        top: 2rem;
        padding: 0.5rem;
        padding-top: 3rem;
        padding-bottom: 4.2rem;
    }

    .signup-button {
        top: 5.2vh;
        margin: 0 auto;
        padding: 4vw 18vw;
        font-size: 2rem;
    }

    .list-item {
        margin: 1rem 0 1.5rem 0;
        font-size: 4.3vw;
        line-height: 1.3;
    }

    .signup-list {
        margin-top: 2rem;
        padding: 0 1rem;
    }
}

@media (min-width: 376px) and (max-width: 768px) {
    .overlay {
        padding-top: 5vh;
        padding-bottom: 2.5vh;
    }

    .signup-button {
        top: 3.2vh;
        padding: 4vw 18vw;
        font-size: 2rem;
    }

    .list-item {
        font-size: 1.2rem;
        margin-left: 1vw;
    }

    .signup-list {
        margin-top: 0;
    }
}

@media (max-width: 750px) and (max-height: 850px) {
    .overlay {
        padding-top: 12vh;
        padding-bottom: 8.5vh;
    }
}
